footer{
margin-top: 2em;
background-color: #131921;
padding-bottom: 2em;
display: flex;
flex-direction: column;
justify-content: center;
}

.omslag{
    background: #131921;
    display: flex;
    justify-content: space-around;
    
}

.borderStyling{
    width: 80vw;
    margin-left: 7vw;
    border-bottom: 1px solid goldenrod;
}

.Del{
width:12em;
margin-bottom: 2em;

}

.Del h1{
    margin-top: 2em;
    font-size: 1.5em;
    color: goldenrod ;

}

.Del h2{
    font-size: 1em;
    color:  goldenrod;
}

.Partners{
    display: flex;
    margin-left: 7vw;
    margin-top: 2em;
}

.Partner_item{
    margin-right: 2em;
}

.Partner_img{
width: 10em;
}


@media only screen and (max-width: 600px) {
	footer{
        display: flex;
        flex-direction: column;
    }

    .Del{
        text-align: center;
    }

    .Partners{
        display: flex;
    }

    .Partner_img{
        width: 3em;
    }

    .Partner_item{
        margin-right: 1px;
    }
        



  }

