.FullHeader{
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 100;
    position: sticky;
}

.Header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
 
}

.Header > a{
    text-decoration: none;
}


.rubrikName{
    color: goldenrod;
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-style: italic;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;

}

.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: goldenrod;
}


.header_optionLineOne{
    font-size: 10px;
}

.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.lang{
    display: flex;
    align-items: center;
}

.header_globeIcon{
    color: white;
    padding-left: 0.3em;
}

.SubHeaderNav{
    background-color: #232f3e;
    display: flex;
    color: white;
    height: 2.5em;
    position: sticky;
}

.More{
    padding: 1em;
    display: flex;
    align-items: center;
}

.More h2{
    font-size: 1em;
    font-weight: 700;
    margin-left: 0.2em;
}

.PrimeNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SubNav{
    display: flex;
    align-items: center;
    width: 60%;
    height: 2.5em;
    justify-content: space-evenly;
    font-weight: normal;
    gap: 1em;
    opacity: 80%;

}

.SubNav h2{
    font-size: 1em;
}


.Announcement{
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Space{
    width:2em;
}

.Announcement h1{
    font-size: 1em;
    justify-self: end;
}

.SubNav a{
    color: white;
    text-decoration: none;
}

.FullHeader{
    display: flex;
    flex-direction: column;
}