:root{
    --primary: #ff0000 ;
    --light: #ebebeb;
    --dark:#131921 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary)

}

.hamburger {
 display: block;
 position: relative;
 z-index: 1;

 user-select: none;

 appearance: none;
 border: none;
 outline: none;
 background: none;
 cursor: pointer;

}

.title_namn{
    color: goldenrod ;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1.5px;
    


}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position:relative;

    background-color: var(--light) ;
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s ;

}

h2{
    font-size: 1em;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary) ;
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    /*color: var(--dark);
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    background-color: goldenrod;
    border-radius: 99px;
    font-size: 1em;*/

    color: goldenrod;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 16px;

}


@media (min-width: 768px) {
    .hamburger{
        display: none;
    }
    .menu {
        display: flex;
    }

}

.header_optionBasket{
    display: flex;
    align-items: center;
}

.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.dropbar{
    background-color: #131921;
    position:absolute;
    top: 4em; right: 0em;
    width: 100%;
    height: fit-content;

}

.dropbarNav{
    display: flex;
    position: relative;
}

.dropbar h2{

text-align: center;
padding: 1em;
font-size: 1.5em;
border-bottom: 1px solid #f33b1a;
color: white;
}

.dropbar h2:hover{
background-color: #1a222c;
}

.burgerAndNav{
    display: flex;
}

.hamburgerActive span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position:relative;

    background-color: var(--light) ;
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s ;
}

.flex_meny a{
    display: flex;
    flex-direction: row;
}

.hamburgerActive{
    display: block;
    position: relative;
    z-index: 1;
   
    user-select: none;
   
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.dropbarTime{
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 950px) {
    .title_namn{
        color: goldenrod ;
        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: 1.5px;
    }

    .dropbarNav{
        height:30em;
    }

    .flex_meny a{
        display: flex;
        flex-direction: row;
        gap: 3.5em;
    }
  }