.login{
    background-color: #697964;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    overflow-y: hidden;
}

.login_logo{
    margin-top: 0;
    margin-bottom: 0;
    object-fit: contain;
    width: 20em;
    height: 10em;
    margin-right: auto;
    margin-left: auto;

}

.login_container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
    background-color: #122d40;
    
}

.login_container > h1 {
    color:white ;
    font-weight: 500;
    margin-bottom: 20px;
    overflow-y: hidden;
}

.login_container > form > h5{
    margin-bottom: 5px;
    color:white ;
}

.login_container > form{
    padding-bottom: 5px;
   overflow-y: hidden; 
}

.login_container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    border:1px solid black;

    width: 98%;
}

.login_container > p {
    color: white;
    margin-top: 15px;
    font-size: 12px;
}

.login_signInButton{
    background: goldenrod;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(179, 135, 26);
}

.login_registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgrey;
}