.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: whiteadd;
    z-index: 1;
    height: 30em;
    height: fit-content;
    overflow-y: hidden;

}

.product_rating{
    display: flex;
}

.product_price{
    margin-top: 5px;
}

.product_info{
    
    height: 100px;
    margin-top: 15px;
}



.product > button{
    background-color: #232f3e;
    color: white;
}

.product > img{
    max-height: 20em;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

@media only screen and (max-width: 950px) {
    .product{
        height: 300px;
        margin-bottom: 20px;
    }

    .product > img{
        height: 250px;
        width: 35vw;
        margin-top: -3em;
    }

    .product_info{
        height: 10em;
    }

    

    .product button{
        height: 2em;
    }
  }

  @media only screen and (min-width: 1000px) {
    .product{
        height: 350px;
    }

    .product > img{
        height: 250px;
        width: 20vw;
    }
  }

  .title{
      font-size: 1.2em;
      font-weight: 600;
  }

  
  .product button{
    height: 2em;
}

  

  .title:hover{
    text-decoration: underline;
  }

  .product > button:hover{
      transform:scale(1.1) ;
      color: goldenrod;
  }