.SubHeaderNav{
    background-color: #232f3e;
    display: flex;
    color: white;
    height: 2.5em;
}

.More{
    padding: 1em;
    display: flex;
    align-items: center;
}

.More h2{
    font-size: 1em;
    font-weight: 700;
    margin-left: 0.2em;
}

.PrimeNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SubNav{
    display: flex;
    align-items: center;
    width: 60%;
    height: 2.5em;
    justify-content: space-evenly;
    font-weight: normal;
    opacity: 80%;

}

.SubNav h2{
    font-size: 1em;
}


.Announcement{
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Space{
    width:2em;
}

.Announcement h1{
    font-size: 1em;
    justify-self: end;
}

.SubNav a{
    color: white;
    text-decoration: none;
}
